/**
 * This styles provide a very basic layout.
 * It's recommended to replace this with your own frontend tooling.
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Header Layout
 */
.main-header {
    padding: 1rem 1.2rem;
    background: #00ADEE;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navigation {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.navigation-item {
    position: relative;
    display: inline-block;
}

.navigation-link {
    color: white;
    padding-left: 0.5rem;
    text-decoration: none;
}

.navigation-item--level-1 .navigation-level {
    /* show level 2 on hover, don't got past level 2 */
    display: none;
}

.navigation-item--level-1:active .navigation-level--level-2,
.navigation-item--level-1:hover .navigation-level--level-2,
.navigation-item--level-1:focus .navigation-level--level-2 {
    position: absolute;
    top: 100%;
    right: 0;
    display: block;
    padding: 0.5rem;
    background: #00ADEE;
}

* {
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
}

/*
 * Main Content Layout
 */
.main {
    max-width: 100%;
    margin: 0 auto;
    /* padding: 10px; */
}

.main img {
    max-width: 100%;
    height: auto;
}


/**
 * Footer Layout
 */
.main-footer {
    padding: 1rem 1.2rem;
    background: #00ADEE;
    display: flex;
    justify-content: space-between;
}

.main-footer > * {
    min-width: 3rem;
}

.main-footer a {
    color: black;
}

.main-footer .neos-inline-editable.placeholder {
    color: black;
    font-style: italic;
}



/*
#######CUSTOM CSS#######
*/




@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');



@font-face {
      font-family: "Mukta", sans-serif;
      src: url('https://fonts.googleapis.com/css?family=Mukta&display=swap');
    }


.myhero-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 26px;
    padding: 0;
    max-width: 1200px;
    min-height: 446px;
    box-shadow: 0 0 2px #999;
    border-radius: 2px;
    /* border: 1px solid red; */
}


.myhero-img {
    max-width: 300px;
    width: 30%;
    height: 466px;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.myhero-img img {
  border-radius: 0 120px 120px 0 / 0 450px 450px 0;
  width: auto;
  height: 100%;
  object-fit: cover;
  background-position: top left;
}

.myhero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 56px 60px;
  max-width: 620px;
  max-width: 50%;
  height: 446px;
}

.content-title {
    font: 24px "Mukta", sans-serif;
    font-weight: bold;
    color: #004B89;
    text-transform: uppercase;
    word-break: break-all;
}

.content-text {
  max-width: 500px;
  padding: 24px 0 0;
  font: 16px "Mukta", sans-serif;
  font-weight: 400;
  color: #475055;
  line-height: 25px;
}




.myhero-button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 20%;
  max-width: 175px;
  height: 100%;
  min-height: 466px;
  padding: 0 2px;
  word-break: break-all;
  font-stretch: ultra-condensed;
  font: 18px "Mukta", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  background: #fff;
  color: #004B89;
  box-shadow: 0 2px 2px #999;
  transition: all 0.3s ease-in-out;
}
.myhero-button:hover {
    background: #004B89;
    color: #ffffff;
    /* @include myhero-button:parent:first-child { */
          background-color: #004B89;
    }
}
.myhero-img - .myhero-button:hover {
      background-color: #004B89;
    }

.myhero-button:hover a {
    /* background: #004B89; */
    color: #ffffff;
}

.myhero-button a {
  line-height: 40px;
  color: #004B89;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.myhero-button img {
  width: 30px;
  height: 30px;
}


@media (max-width: 768px) {

  .myhero-container {
    max-width: 640px;
    /* background-color: #004B89; */
  }
  .myhero-img {
    order: 1;
    width: 50%;
  }
  .myhero-content {
    order: 3;
    max-width: 100%;
    height: fit-content;
    border-top: 1px solid #999;
  }
  .content-text {
    max-width: 100%;
  }
  .myhero-button {
    order: 2;
    min-width: 50%;
    box-shadow: none !important;
  }
  .button-text {
    font-weight: normal;
  }

}

@media (max-width: 768px) {

  .myhero-content {
    padding: 20px 20px;
  }
  .button-text {
    font-size: 16px;
  }
}